<div class="container mt-3">
    <form [formGroup]="postForm" (ngSubmit)="getDataForm()">
        <div>
            <label for="title">TITULO</label>
            <input type="text" id="title" placeholder="introduce el titulo" class="form-control" formControlName="title">
        </div>
        <div>
            <label for="userId">TITULO</label>
            <input type="number" id="userId" placeholder="introduce el titulo" class="form-control" formControlName="userId">
        </div>
        <div>
            <label for="boody">Cuerpo de texto</label>
            <textarea name="" id="body" cols="30"  class="form-control" rows="10" formControlName="body"></textarea>
        </div>


        <input type="submit" class="btn btn-danger" value="Guardar" [disabled]="!postForm.valid" >
    </form>
</div>